[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/reorx/hugo-PaperModX.git
[submodule "themes/hugo-profile.git"]
	path = themes/hugo-profile.git
	url = https://github.com/gurusabarish/hugo-profile.git
